/* general */
body{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #33ccff;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
.pointer{
    cursor: pointer;
}
.btn{
    width: 250px;
    height: 95px;
    padding: 0 50px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 600;
    font-size: 20pt;
    text-transform: uppercase;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:focus{
    outline: initial;
    border: none;
    box-shadow: initial;
}
.button-blue{
    background-image: url('../images/comp/button-biru.png');
}
.button-green{
    background-image: url('../images/comp/button-hijau.png');
}

input{
    border: none;
    background: transparent;
    margin-bottom: 5px;
    font-size: 20pt;
    width: 100%;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
input:focus{
    border: none;
    outline: initial;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: initial;
    color: inherit;
}


.slick-next:before, .slick-prev:before{
    color: black;
}

.slick-list, .slick-track{
    height: 100%;
}

.main-exam .w-num{
    cursor: pointer;
    display: block;
    width: 100%;
    background: #663333;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-weight: 700;
}

.main-exam .w-num.current{
   background: green;
}

.main-exam .w-num.active{
    background: gray;
}

.main-exam .slick-next, .main-exam .slick-prev{
    top: initial;
    bottom: 0;
}

.main-exam .slick-next{
    right: 0;
}

.main-exam .slick-prev{
    right: 0;
}

.soal span{
    background: red;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.question{
    text-align: center;
    position: relative;
    outline: none !important;
}

.main-practice .question {
    padding-top: 9rem;
}

.question .w-choice{
    position: absolute;
    bottom: 15px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.question .w-ques{
    font-size: 60pt;
    font-weight: 700;
    letter-spacing: 8pt;
    color: #0A1172;
}


.question .box-answer{
    background-image: url(../images/comp/Bulatan-Hijau.png);
    background-size: contain;
    height: 90px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 23pt;
    font-weight: 700;
    cursor: pointer;
}

/* background */

.bg-main{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 6px 7px rgba(0,0,0,.25);
}

.bg-board{
    background-image: url('../images/bg/Whiteboard.png');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px 40px;
    overflow: hidden;
}

.tag-name{
    background-image: url('../images/bg/bg-kosong.png');
    width: 100%;
    color: black;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* abs */

.warp-abs{
    position: absolute;
    width: 100%;
    left: 15px;
}

.abs-top{
    top: 15px;
}

.abs-down{
    bottom: 15px;
    display: flex;
    justify-content: center;
}
/* home */

.main-home .gif img{
    position: absolute;
    left: 0;
    top: 0;
}

.main-home .gif .img-2{
    width: 70%;
    top: initial;
    left: initial;
    bottom: 20px;
    right: 0;
}

.main-home .start{
    position: relative;
}

::placeholder{
    color: #eeeeee;
}


/* menu */

.main-menu .menu-play{
    background-image: url(../images/comp/kayu-play.png);
    width: 100%;
    height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.grayscale{
    filter: grayscale(1);
    cursor: initial !important;
}

.main-menu .menu-play:hover .icon{
    animation: jello 2s infinite;
}

.main-menu .menu-play .icon{
    height: 125px;
    width: 125px;
}


#prev.slick-disabled, #next.slick-disabled{
    display: none;
}

.bg-kayu{
    background-image: url(../images/comp/Kayu.png);
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 100px;
}

.main-exam .question .soal label{
    font-size: 50pt;
    font-weight: 700;
    letter-spacing: 8pt;
    color: #0A1172;
    padding-top: 3.5rem;
}

.main-exam .time{
    font-size: 15pt;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

.main-result .w-name h1{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: -25px;
    font-size: 3.2rem;
    color: #fafa80;
    text-shadow: 1px 2px green;
}